$primary-color: #03bdaf;
$secondary-color: #2a353f;
$danger-color: #eb3b5a;
$success-color: #2ebd85;

$text-color: #e8eff3;
$text-light-color: $text-color;
$text-dark-color: rgba($text-color, 0.5);

$label-color: rgba($text-color, 0.3);

$background-color: #131e26;
$panel-background-color: #1b252d;
$border-color: #ccc;

$level-color-1: #373867;
$level-color-2: #4a5090;
$level-color-3: #5e6abe;
$level-color-4: #6e81e2;
$level-color-5: #5094d1;
$level-color-6: #34a6c1;
$level-color-7: $primary-color;
