$primary-color: #03bdaf;
$secondary-color: #2a353f;
$negative-color: #eb3b5a;
$positive-color: #2ebd85;

$text-color: #e8eff3;
$text-light-color: $text-color;
$text-dark-color: #5c636a;

$label-color: #6b747b;

$background-color: #131e26;
$panel-background-color: #1b252d;

$level-color-1: #373867;
$level-color-2: #4a5090;
$level-color-3: #5e6abe;
$level-color-4: #6e81e2;
$level-color-5: #5094d1;
$level-color-6: #34a6c1;
$level-color-7: $primary-color;
