@import "../gv-styles/_colors.scss";

.gv-tab {
  cursor: pointer;
  color: $text-color;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1px;
  padding: 0 1em;
  padding-bottom: 0.2em;
  &--active {
    color: $text-light-color;
    &::after {
      content: "";
      display: block;
      padding-top: 0.2em;
      width: 1em;
      border-bottom: 0.15em solid $primary-color;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
