@import "../gv-styles/_colors.scss";

.gv-tab {
  cursor: pointer;
  color: $text-color;
  padding: 0 1em;
  padding-bottom: 0.2em;
  &:not(.gv-tab--active) {
    opacity: 0.4;
  }
  &--active {
    &::after {
      content: "";
      display: block;
      padding-top: 0.2em;
      width: 1em;
      border-bottom: 0.15em solid $primary-color;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
